body {
  background-color: MidnightBlue;
color: DeepPink;
font-family: Arial;
}

h1 {
  color: DeepPink;
}

p {
  color: Snow;
}

li {
  color: snow;
}

h1 {
  font-family: font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
